<%= link_to "Back to Books", books_path %>
<h1>Add Book</h1>
<%= form_for @book do |f| %>
<table>
    <tr>
        <th> Name </th>
        <td> <%= f.text_field :name %> </td>
    </tr>
    <tr>
        <th> Author </th>
        <td> <%= f.text_field :author %> </td>
    </tr>
    <tr>
        <th> Price </th>
        <td> <%= f.number_field :price, step: 0.01, min: 0 %> </td>
    </tr>
    <tr>
        <th> Published Date </th>
        <td> <%= f.date_field :published_date %> </td>
    </tr>
</table>

<%= f.submit "Add Book" %>
<% end %>

